* {
  box-sizing: border-box;
}

:root {
  --primary-color: #e6e6e6;
  --secondary-color: #deff4d;
  --grey: #616161;
  --background: #7cad3b;
  --accent: green;
  --hover: #fcc;
  --neonshadow-one: #f00;
  --neonshadow-two: #00f;
  --one-border: #00000080;
  --button-one: #567756;
  --button-two: #43438a;
  --normal: 1.3;
}

body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: 'Signika', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Jost', sans-serif;
  padding: 20px;
  width: auto;
}

h1 {
  line-height: 2;
  font-size: 70px;
  font-weight: 550;
}

h1:hover {
  color: var(--secondary-color);
  cursor: pointer;
  text-shadow: 0 0 0 var(--neonshadow-one), 0 0 15px var(--neonshadow-two);
}

a {
  color: var(--secondary-color);
}

a:visited {
  color: var(--secondary-color);
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: var(--grey);
}

p {
  font-size: 15px;
  line-height: var(--normal);
}

h2 {
  font-size: 22px;
  line-height: var(--normal);
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
}

h2:hover {
  text-shadow: 0 0 0 var(--neonshadow-one), 0 0 15px var(--neonshadow-two);
  cursor: pointer;
}

article {
  line-height: var(--normal);
}

.address {
  line-height: var(--normal);
}

.skills {
  font-family: 'Courier New', Courier, monospace;
  display: inline-block;
}

input,
button,
.button__secondary,
.button__secondary--2,
.button1 {
  font-family: inherit;
  border: none;
  display: inline-block;
  background-color: var(--grey);
  color: var(--primary-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid var(--one-border);
  transition: opacity 0.2s;
}

input:visited,
button:visited,
.button1:visited {
  background-color: var(--secondary-color);
}

input:hover,
input:focus,
button:hover,
.button1:hover {
  cursor: pointer;
  opacity: 0.8;
}

.button__secondary {
  background-color: var(--button-two);
  color: var(--secondary-color);
}

.button__secondary--2 {
  background-color: var(--button-one);
  color: #27221e;
}

.button__secondary:hover {
  opacity: 0.8;
  padding: 11px;
  border-radius: 30px;
  background-color: var(--secondary-color);
  text-decoration: none;
  color: var(--button-two);
  transition: opacity 0.2s;
}

.button__secondary--2:hover {
  opacity: 0.8;
  padding: 11px;
  border-radius: 30px;
  background-color: var(--primary-color);
  color: var(--accent);
  transition: opacity 0.1s;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item:hover {
  opacity: 0.8;
  font-style: italic;
}

.navigation-list__item--active {
  opacity: 0.5;
  text-decoration: none;
}

.me {
  margin: 0 auto;
  padding: 20px;
  display: inline-block;
}

.profile__portrait {
  float: left;
  width: 100%;
  margin-right: 40px;
  max-width: 350px;
  border-radius: 50%;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  border-radius: 50%;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1 1 100px;
}

.social-media:nth-child(1) {
  flex-basis: 100px;
  flex-grow: 1;
}

.profile {
  margin: 0 auto;
  max-width: 900px;
  text-align: justify;
}

/* start grid fallback */

.project-list__item {
  display: inline-block;
  width: 33%;
}

/* end grid fallback */

.project-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.project-list__item {
  background-color: #0000004a;
  padding: 20px;
  width: auto;
  min-height: auto;
}

/* doesnt work with media-queries?

.project-list__item:last-child {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

*/

.about-content {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.contact-div {
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
}

.mainpage {
  /* balternative background-color: #27291f96; */
  background: rgb (39, 41, 31);
  background: linear-gradient(90deg, #27291f36 0%, #27291f 42%, #27291fa5 100%);
  background-color: var(--background);
}

.workpage {
  background-color: #27291ff7;
  background-color: var(--background);
}

.contactpage {
  background-color: #747474;
  background-color: var(--background);
}

.aboutpage {
  background-color: #141414;
  background-color: var(--background);
}

.profile__portrait:hover {
  cursor: pointer;
  animation-play-state: paused;
}

.jp {
  display: inline-block;
  transition: width 2s, height 2s, background-color 2s, rotate 0.4s;
}

.jp:hover {
  background-color: var(--hover);
  width: 0;
  height: 0;
  rotate: 360deg;
}

.body {
  background-color: var(--background);
}

/* animations */

.profile__portrait,
.page-header__item:first-child {
  animation: 140s move infinite linear;
}

/* animation profile pic */

@keyframes move {
  0% {
    transform: rotate(0deg) translate(-165px) rotate(-359deg);
  }

  100% {
    transform: rotate(360deg) translate(-165px) rotate(-360deg);
  }
}

/* animation profile pic -- berlin page */

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* media queries
*/

@media all and (max-width: 500px) {
  .project-list {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .project-list {
    grid-gap: 10px;
  }

  .project-list:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}
